
/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 170px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 170px;
    width: 0;
    height: 100%;
    margin-left: -170px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 170px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 0px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -170px;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 170px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 170px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 0px 0px 10px 0px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/* Sidebar */

#sidebar {
  background-color: #171717;
  color: #FDFDFB;
  border: 1px solid #000;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 15px;
  margin: 10px 5px 0 0;
  -webkit-font-smoothing: antialiased;

  height: 280px;
}

#sidebar h1 {
  font-family: Arvo, sans-serif;
  font-size: 18px;
  color: #fff;
  border-bottom: none;
  margin-top: 0;
  white-space: nowrap;
}

#sidebar a, #sidebar a:hover {
  color: #fff;
  text-decoration: none;
}

#sidebar ul {
  list-style:none;
  padding:0;
}

#sidebar .gitlab li {
  list-style-type: none;
  margin-bottom: 5px;
  line-height: 1em;
  padding: 7px 7px 7px 7px;

  background: #00AF11;
  background: -moz-linear-gradient(top, #00AF11 0%, #008211 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
  background: -webkit-linear-gradient(top, #00AF11 0%,#008211 100%);
  background: -o-linear-gradient(top, #00AF11 0%,#008211 100%);
  background: -ms-linear-gradient(top, #00AF11 0%,#008211 100%);
  background: linear-gradient(top, #00AF11 0%,#008211 100%);

  border-radius:4px;
  border:1px solid #0D0D0D;

  -webkit-box-shadow: inset 0px 1px 1px 0 rgba(2,233,38, 1);
  box-shadow: inset 0px 1px 1px 0 rgba(2,233,38, 1);

}

#sidebar .gitlab li:hover {
  background: #00C31D;
  background: -moz-linear-gradient(top, #00C31D 0%, #019519 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
  background: -webkit-linear-gradient(top, #00C31D 0%,#019519 100%);
  background: -o-linear-gradient(top, #00C31D 0%,#019519 100%);
  background: -ms-linear-gradient(top, #00C31D 0%,#019519 100%);
  background: linear-gradient(top, #00C31D 0%,#019519 100%);
}

#sidebar .gitlab li a {
  -webkit-font-smoothing: antialiased;
  background: url(../images/gitlab-16.png) no-repeat 1px;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
  padding: 8px 20px 8px 25px;
}

#sidebar .links li {
  list-style-type: none;
  margin-bottom: 5px;
  line-height: 1em;
  padding: 7px 3px 7px 6px;
  width: 100px;
  float: right;

  background: #1100AF;
  background: -moz-linear-gradient(top, #1100AF 0%, #110082 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
  background: -webkit-linear-gradient(top, #1100AF 0%,#110082 100%);
  background: -o-linear-gradient(top, #1100AF 0%,#110082 100%);
  background: -ms-linear-gradient(top, #1100AF 0%,#110082 100%);
  background: linear-gradient(top, #1100AF 0%,#110082 100%);
  border-radius:4px;
  border:1px solid #0D0D0D;

  -webkit-box-shadow: inset 0px 1px 1px 0 rgba(38,2,233, 1);
  box-shadow: inset 0px 1px 1px 0 rgba(38,2,233, 1);
}

#sidebar .links li:hover {
  background: #1D00C3;
  background: -moz-linear-gradient(top, #1D00C3 0%, #190195 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
  background: -webkit-linear-gradient(top, #1D00C3 0%,#190195 100%);
  background: -o-linear-gradient(top, #1D00C3 0%,#190195 100%);
  background: -ms-linear-gradient(top, #1D00C3 0%,#190195 100%);
  background: linear-gradient(top, #1D00C3 0%,#190195 100%);
}

#sidebar .links li a {
  -webkit-font-smoothing: antialiased;
  background: url(../images/arrow-right.png) no-repeat;
  font-weight: normal;
  text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
  padding: 2px 20px 5px 25px;
}
