---
layout: default
---

<h2>Documentation</h2>

<ul>
  <li>Docs:
    <ul>
      <li><a href="/api/">Q-Translate API Reference</a></li>
      <li><a href="/api-examples-js/" target="_blank">Q-Translate API Examples</a></li>
      <li><a href="https://gitlab.com/q-translate/q-translate.gitlab.io/tree/master/docs/uml">docs/uml/</a></li>
      <li><a href="https://gitlab.com/q-translate/q-translate.gitlab.io/tree/master/docs/org">docs/org/</a></li>
    </ul>
  </li>

  <li>Other docs that may be useful:
    <ul>
      <li><a href="http://dashohoxha.fs.al/simple-smtp-server/" target="_blank">
          http://dashohoxha.fs.al/simple-smtp-server/</a></li>
      <li><a href="http://dashohoxha.fs.al/how-to-secure-ubuntu-server/" target="_blank">
          http://dashohoxha.fs.al/how-to-secure-ubuntu-server/</a></li>
      <li><a href="http://dashohoxha.fs.al/howto-manage-your-own-nameserver/" target="_blank">
          http://dashohoxha.fs.al/howto-manage-your-own-nameserver/</a></li>
    </ul>
  </li>
</ul>
