---
layout: default
---

<h2>What is Q-Translate</h2>

<div style="display:inline-block; float:right; width:190px; text-align:center;">
  <img src="images/qtranslate.png" style="border:none; margin-bottom:0"/>

  <a href="https://www.coinbase.com/dashohoxha" target="_blank">
    <img src="images/bitcoin-donate-button.jpg" width="170px" style="border:none; margin:10px; margin-bottom:20px;" />
  </a>

  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="BDGU9GENUTXEG">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
  </form>

  <br/>
  <script data-gratipay-username="dashohoxha"
        src="//grtp.co/v1.js"></script>
  </script>
</div>

<p>
  <b>Q-Translate</b> aims to improve the translations of the Quran, by
  getting review and feedback from many people. This may help to
  double check the translations, fix any mistakes or typos, and
  improve the translation quality. The original text of the Quran is
  downloaded from <a href="http://tanzil.net/download/"
  target="_blank">http://tanzil.net/download/</a> and the translations
  from <a href="http://tanzil.net/trans/"
  target="_blank">http://tanzil.net/trans/</a>
</p>

<ul class="links">
  <li><a href="/install.html">Installation</a></li>
  <li><a href="/api/">API Reference</a></li>
  <li><a href="/api-examples-js/" target="_blank">API Examples</a></li>
  <li><a href="/docs.html">Documentation</a></li>
</ul>

<h4>Sites:</h4>
<p id="sites">
 + <a href="https://qtr.fs.al" target="_blank">
      https://qtr.fs.al</a> - Q-Translate Server<br/>
 + <a href="https://qtranslate.fs.al" target="_blank">
      https://qtranslate.fs.al</a> - Q-Translate Client<br/>
</p>

<h4>Contacts</h4>
<p id="contacts">
  + Email: <a href="mailto:qtranslate@fs.al">
       qtranslate@fs.al</a><br/>
  + Twitter: <a href="https://twitter.com/q_translate" target="_blank">
       https://twitter.com/q_translate</a><br/>
  + <a href="https://gitlab.com/q-translate/qtr_server/issues" target="_blank">
       https://gitlab.com/q-translate/qtr_server/issues</a><br/>
  + <a href="https://gitlab.com/q-translate/qtr_client/issues" target="_blank">
       https://gitlab.com/q-translate/qtr_client/issues</a><br/>
  + <a href="https://gitlab.com/q-translate/qtrclient/issues" target="_blank">
       https://gitlab.com/q-translate/qtrclient/issues</a><br/>
</p>

<hr/>
