---
layout: org-info
---
<div id="content">
<h1 class="title">Q-Translate API Reference</h1>
<div id="table-of-contents">
<h2>Table of Contents</h2>
<div id="text-table-of-contents">
<ul>
<li><a href="#orgheadline3">report</a>
<ul>
<li><a href="#orgheadline1">stats</a></li>
<li><a href="#orgheadline2">topusers</a></li>
</ul>
</li>
<li><a href="#orgheadline11">translations</a>
<ul>
<li><a href="#orgheadline4">get</a></li>
<li><a href="#orgheadline5">add</a></li>
<li><a href="#orgheadline6">like</a></li>
<li><a href="#orgheadline7">del</a></li>
<li><a href="#orgheadline8">search</a></li>
<li><a href="#orgheadline9">submit</a></li>
<li><a href="#orgheadline10">import</a></li>
</ul>
</li>
<li><a href="#orgheadline17">misc</a>
<ul>
<li><a href="#orgheadline12">latest</a></li>
<li><a href="#orgheadline13">rss-feed</a></li>
<li><a href="#orgheadline14">tweet</a></li>
<li><a href="#orgheadline15">autouser</a></li>
<li><a href="#orgheadline16">other</a></li>
</ul>
</li>
<li><a href="#orgheadline18">oauth2</a></li>
</ul>
</div>
</div>

<div id="outline-container-orgheadline3" class="outline-2">
<h2 id="orgheadline3">report</h2>
<div class="outline-text-2" id="text-orgheadline3">
</div><div id="outline-container-orgheadline1" class="outline-3">
<h3 id="orgheadline1">stats</h3>
<div class="outline-text-3" id="text-orgheadline1">
<p>
General statistics (number of likes and translations) for the last
week, month and year.
</p>

<dl class="org-dl">
<dt>GET api/report/stats</dt><dd><dl class="org-dl">
<dt>lng</dt><dd>language of translations</dd>
</dl></dd>

<dt>POST api/report/stats</dt><dd><dl class="org-dl">
<dt>lng</dt><dd>language of translations</dd>
</dl></dd>
</dl>


<p>
Examples:
</p>
<ul class="org-ul">
<li><a href="https://dev.qtr.fs.al/api-examples-php/report/stats.php">https://dev.qtr.fs.al/api-examples-php/report/stats.php</a></li>
<li><a href="http://info.qtr.fs.al/api-examples-js/#report/stats_get.js">http://info.qtr.fs.al/api-examples-js/#report/stats_get.js</a></li>
<li><a href="http://info.qtr.fs.al/api-examples-js/#report/stats_post.js">http://info.qtr.fs.al/api-examples-js/#report/stats_post.js</a></li>
</ul>

<pre class="example">
curl -H 'Accept: application/json' \
     'https://qtr.fs.al/api/report/stats?lng=en' | python -m json.tool
curl -H 'Content-type: application/json' \
     -X POST https://qtr.fs.al/api/report/stats \
     -d '{"lng": "sq"}' | python -m json.tool
</pre>
</div>
</div>


<div id="outline-container-orgheadline2" class="outline-3">
<h3 id="orgheadline2">topusers</h3>
<div class="outline-text-3" id="text-orgheadline2">
<p>
Statistics about top contributing users.
</p>

<dl class="org-dl">
<dt>GET api/report/topcontrib</dt><dd><dl class="org-dl">
<dt>lng</dt><dd>language of translations</dd>
<dt>period</dt><dd>period of report (last <code>day | week | month | year</code>)</dd>
<dt>size</dt><dd>number of results (top contributers), between 5 and 100</dd>
</dl></dd>

<dt>POST api/report/topcontrib</dt><dd><dl class="org-dl">
<dt>lng</dt><dd>language of translations</dd>
<dt>period</dt><dd>period of report (last <code>day | week | month | year</code>)</dd>
<dt>size</dt><dd>number of results (top contributers), between 5 and 100</dd>
</dl></dd>
</dl>

<p>
Examples:
</p>
<ul class="org-ul">
<li><a href="https://dev.qtr.fs.al/api-examples-php/report/topusers.php">https://dev.qtr.fs.al/api-examples-php/report/topusers.php</a></li>
<li><a href="http://info.qtr.fs.al/api-examples-js/#report/topusers_get.js">http://info.qtr.fs.al/api-examples-js/#report/topusers_get.js</a></li>
<li><a href="http://info.qtr.fs.al/api-examples-js/#report/topusers_post.js">http://info.qtr.fs.al/api-examples-js/#report/topusers_post.js</a></li>
</ul>

<pre class="example">
curl -H 'Accept: application/json' \
     'https://qtr.fs.al/api/report/topusers?lng=en&amp;period=week' \
     | python -m json.tool
curl -H 'Accept: application/json' -H 'Content-type: application/json' \
     -X POST https://qtr.fs.al/api/report/topusers \
     -d '{"lng": "en", "period": "week", "size": 10}' \
     | python -m json.tool
</pre>
</div>
</div>
</div>


<div id="outline-container-orgheadline11" class="outline-2">
<h2 id="orgheadline11">translations</h2>
<div class="outline-text-2" id="text-orgheadline11">
</div><div id="outline-container-orgheadline4" class="outline-3">
<h3 id="orgheadline4">get</h3>
<div class="outline-text-3" id="text-orgheadline4">
<p>
Get a verse, along with its translations, likes and other details.
</p>

<dl class="org-dl">
<dt>GET api/translations/$selector</dt><dd><dl class="org-dl">
<dt>selector</dt><dd>Translation selector, in the form 'lng:chapter:verse'</dd>
</dl></dd>

<dt>POST api/translations/get</dt><dd><dl class="org-dl">
<dt>lng</dt><dd>The language of translations, like en, fr, de, etc.</dd>
<dt>chapter</dt><dd>Chapter number.</dd>
<dt>verse</dt><dd>Verse number.</dd>
</dl></dd>
</dl>

<p>
Examples:
</p>
<ul class="org-ul">
<li><a href="http://info.qtr.fs.al/api-examples-js/#translations/retrieve.js">http://info.qtr.fs.al/api-examples-js/#translations/retrieve.js</a></li>
<li><a href="http://info.qtr.fs.al/api-examples-js/#translations/get.js">http://info.qtr.fs.al/api-examples-js/#translations/get.js</a></li>
<li><a href="https://dev.qtr.fs.al/api-examples-php/translations/get.php">https://dev.qtr.fs.al/api-examples-php/translations/get.php</a></li>
</ul>

<pre class="example">
curl -k -H 'Accept: application/json' \
     'https://qtr.fs.al/api/translations/en:2:3' \
     | python -m json.tool
curl -k -H 'Content-type: application/json' \
     -X POST https://qtr.fs.al/api/translations/get
     -d '{"lng": "en", "chapter": "2", "verse": "3"}' \
     | python -m json.tool
curl -k -H 'Accept: application/json' \
     'https://qtranslate.fs.al/qtr/en/2/3' \
     | python -m json.tool
</pre>
</div>
</div>


<div id="outline-container-orgheadline5" class="outline-3">
<h3 id="orgheadline5">add</h3>
<div class="outline-text-3" id="text-orgheadline5">
<p>
Add a new translation to a verse.
</p>

<dl class="org-dl">
<dt>POST api/translations/add</dt><dd><dl class="org-dl">
<dt>lng</dt><dd>The language (code) of the new translation.</dd>
<dt>chapter</dt><dd>Chapter number.</dd>
<dt>verse</dt><dd>Verse number.</dd>
<dt>translation</dt><dd>The new translation as a string.</dd>
</dl></dd>
</dl>

<p>
Examples:
</p>
<ul class="org-ul">
<li><a href="https://dev.qtr.fs.al/api-examples-php/translations/add.php">https://dev.qtr.fs.al/api-examples-php/translations/add.php</a></li>
<li><a href="http://info.qtr.fs.al/api-examples-js/#translations/add.js">http://info.qtr.fs.al/api-examples-js/#translations/add.js</a></li>
</ul>
</div>
</div>


<div id="outline-container-orgheadline6" class="outline-3">
<h3 id="orgheadline6">like</h3>
<div class="outline-text-3" id="text-orgheadline6">
<p>
Add a like for the given translation.
</p>

<dl class="org-dl">
<dt>POST api/translations/like</dt><dd><dl class="org-dl">
<dt>tguid</dt><dd>ID of the translation</dd>
</dl></dd>
</dl>

<p>
Examples:
</p>
<ul class="org-ul">
<li><a href="https://dev.qtr.fs.al/api-examples-php/translations/like.php">https://dev.qtr.fs.al/api-examples-php/translations/like.php</a></li>
<li><a href="http://info.qtr.fs.al/api-examples-js/#translations/like.js">http://info.qtr.fs.al/api-examples-js/#translations/like.js</a></li>
</ul>
</div>
</div>


<div id="outline-container-orgheadline7" class="outline-3">
<h3 id="orgheadline7">del</h3>
<div class="outline-text-3" id="text-orgheadline7">
<p>
Delete a translation
</p>

<dl class="org-dl">
<dt>POST api/translations/del</dt><dd><dl class="org-dl">
<dt>tguid</dt><dd>ID of the translation</dd>
</dl></dd>
</dl>

<p>
Examples:
</p>
<ul class="org-ul">
<li><a href="https://dev.qtr.fs.al/api-examples-php/translations/add.php">https://dev.qtr.fs.al/api-examples-php/translations/add.php</a></li>
<li><a href="http://info.qtr.fs.al/api-examples-js/#translations/add.js">http://info.qtr.fs.al/api-examples-js/#translations/add.js</a></li>
</ul>
</div>
</div>


<div id="outline-container-orgheadline8" class="outline-3">
<h3 id="orgheadline8">search</h3>
<div class="outline-text-3" id="text-orgheadline8">
<p>
Search verses and translations using various filters.
</p>

<dl class="org-dl">
<dt>GET api/translations</dt><dd>This provides the same
functionality and has the same parameters as the <b>search</b>
operation.  The only difference is that the parameters are
provided as a GET request (in the URL), whereas the parameters of
'search' are provided as a POST request. Sometimes this may be
more convenient.</dd>

<dt>POST api/translations/search</dt><dd><dl class="org-dl">
<dt>lng</dt><dd>The language of translations.</dd>
<dt>limit</dt><dd>The number of results to be returned (min: 5, max: 50).</dd>
<dt>words</dt><dd>Words to be searched for.</dd>
<dt>chapter</dt><dd>The chapter to search on.</dd>
<dt>type</dt><dd>Type of search:
<ul class="org-ul">
<li>similar :  Search words by similarity.</li>
<li>logical : Search using logical (boolean) rules. For example
the sign <code>+</code> (or <code>-</code>) in front of a word indicates that the
word must be present (absent) in the result. A phrase that
is enclosed in double quotes (="<code>) is matched literally. A
           star (=*</code>) appended to a word acts as a wildcard (matches
all the words starting with that word).</li>
</ul></dd>
<dt>what</dt><dd>What to search:
<ul class="org-ul">
<li>translations :  Search translations.</li>
<li>verses :        Search verses.</li>
</ul></dd>
<dt>page</dt><dd>Page of results to be displayed.</dd>
<dt>only_mine</dt><dd>(boolean)
Limit search only to the verses touched (translated or voted)
by the current user.</dd>
<dt>translated_by</dt><dd>Limit search by the author of translations
(can be used only by admins).</dd>
<dt>voted_by</dt><dd>Limit search by a user (can be used only by admins).</dd>
<dt>date_filter</dt><dd>Which date to filter (used only by admins). Can be one of:
<ul class="org-ul">
<li>translations :  Filter Translations By Date (default)</li>
<li>likes :         Filter Likes By Date</li>
</ul></dd>
<dt>from_date</dt><dd>Date and time.</dd>
<dt>to_date</dt><dd>Date and time.</dd>
</dl></dd>
</dl>
<dl class="org-dl">
<dt>GET translations/search</dt><dd>Search strings and translations using
various filters.  If the request header <code>Accept: application/json</code>
is set, then the output will be in JSON (otherwise it will be an
HTML page). It gets the same parameters as <code>GET
    api/translations</code></dd>
</dl>

<p>
Examples:
</p>
<ul class="org-ul">
<li><a href="https://dev.qtr.fs.al/api-examples-php/translations/search.php">https://dev.qtr.fs.al/api-examples-php/translations/search.php</a></li>
<li><a href="http://info.qtr.fs.al/api-examples-js/#translations/list.js">http://info.qtr.fs.al/api-examples-js/#translations/list.js</a></li>
<li><a href="http://info.qtr.fs.al/api-examples-js/#translations/search.js">http://info.qtr.fs.al/api-examples-js/#translations/search.js</a></li>
</ul>

<pre class="example">
curl -k -H 'Accept: application/json' \
  'https://dev.qtr.fs.al/api/translations/search?lng=en&amp;words=unseen&amp;chapter=2' \
  | python -m json.tool
curl -k -H 'Accept: application/json' \
  'https://en.qtranslate.fs.al/translations/search?words=unseen&amp;chapter=2' \
   | python -m json.tool
</pre>
</div>
</div>


<div id="outline-container-orgheadline9" class="outline-3">
<h3 id="orgheadline9">submit</h3>
<div class="outline-text-3" id="text-orgheadline9">
<p>
Submit multiple actions at once.
</p>

<dl class="org-dl">
<dt>POST api/translations/submit</dt><dd>Array of actions. Each action is an associated array
that contains the items:
<dl class="org-dl">
<dt>action</dt><dd>The action to be done: <code>add | vote | del</code></dd>
<dt>params</dt><dd>Associative array of the needed parameters for this action.</dd>
</dl></dd>
</dl>

<p>
Examples:
</p>
<ul class="org-ul">
<li><a href="https://dev.qtr.fs.al/api-examples-php/translations/submit.php">https://dev.qtr.fs.al/api-examples-php/translations/submit.php</a></li>
<li><a href="http://info.qtr.fs.al/api-examples-js/#translations/submit.js">http://info.qtr.fs.al/api-examples-js/#translations/submit.js</a></li>
</ul>
</div>
</div>


<div id="outline-container-orgheadline10" class="outline-3">
<h3 id="orgheadline10">import</h3>
<div class="outline-text-3" id="text-orgheadline10">
<p>
Import translations from file.
</p>

<dl class="org-dl">
<dt>POST api/translations/import</dt><dd><dl class="org-dl">
<dt>lng</dt><dd>Language of translations.</dd>
<dt>author</dt><dd>The author of translations.</dd>
<dt>file</dt><dd>A text file with translations.</dd>
</dl>
<p>
Returns associative array containing:
</p>
<dl class="org-dl">
<dt>messages</dt><dd>Array of notification messages; each notification message
is an array of a message and a type, where type can be one of
<code>status</code>, <code>warning</code>, <code>error</code>.</dd>
</dl></dd>
</dl>

<p>
For any translation in the file, it will be added as a suggestion
if such a translation does not exist, or it will just be liked if
such a translation already exists.
</p>

<p>
Examples:
</p>
<ul class="org-ul">
<li><a href="https://dev.qtr.fs.al/api-examples-php/translations/import.php">https://dev.qtr.fs.al/api-examples-php/translations/import.php</a></li>
<li><a href="http://info.qtr.fs.al/api-examples-js/#translations/import.js">http://info.qtr.fs.al/api-examples-js/#translations/import.js</a></li>
</ul>
</div>
</div>
</div>


<div id="outline-container-orgheadline17" class="outline-2">
<h2 id="orgheadline17">misc</h2>
<div class="outline-text-2" id="text-orgheadline17">
</div><div id="outline-container-orgheadline12" class="outline-3">
<h3 id="orgheadline12">latest</h3>
<div class="outline-text-3" id="text-orgheadline12">
<dl class="org-dl">
<dt>GET latest/$lng[/$days[/$limit]]</dt><dd>Return the latest translations in JSON format.
Latest means since yesterday.  Results are cached, so last minute
translations may not appear on the list.
<dl class="org-dl">
<dt>lng</dt><dd>The language of translations.</dd>
<dt>days</dt><dd>Return all the translations since that many days
ago. If not given, return only the translations since
yesterday.</dd>
<dt>limit</dt><dd>Return that many translations from the latest ones,
regardless of their time. This takes precedence over the
number of days.</dd>
</dl></dd>
</dl>

<p>
Each of the returned translations has these fields: <code>chapter_id,
   verse_nr, vid, lng, translation, tguid, time, username, usermail</code>
</p>

<p>
Examples:
</p>
<ul class="org-ul">
<li><a href="https://dev.qtr.fs.al/api-examples-php/misc/latest.php">https://dev.qtr.fs.al/api-examples-php/misc/latest.php</a></li>
<li><a href="http://info.qtr.fs.al/api-examples-js/#misc/latest.js">http://info.qtr.fs.al/api-examples-js/#misc/latest.js</a></li>
</ul>

<pre class="example">
curl https://qtr.fs.al/latest/en | python -m json.tool
curl https://qtr.fs.al/latest/en/7 | python -m json.tool
curl https://qtr.fs.al/latest/en//5 | python -m json.tool
</pre>
</div>
</div>


<div id="outline-container-orgheadline13" class="outline-3">
<h3 id="orgheadline13">rss-feed</h3>
<div class="outline-text-3" id="text-orgheadline13">
<dl class="org-dl">
<dt>GET rss-feed/$lng</dt><dd>Return a RSS feed of the latest translations.
Latest means since yesterday.  Results are cached, so last minute
translations may not appear on the list.
<dl class="org-dl">
<dt>lng</dt><dd>The language of translations.</dd>
</dl></dd>
</dl>

<p>
Examples:
</p>
<ul class="org-ul">
<li><a href="https://dev.qtr.fs.al/api-examples-php/misc/rss-feed.php">https://dev.qtr.fs.al/api-examples-php/misc/rss-feed.php</a></li>
<li><a href="http://info.qtr.fs.al/api-examples-js/#misc/rss-feed.js">http://info.qtr.fs.al/api-examples-js/#misc/rss-feed.js</a></li>
</ul>

<pre class="example">
curl https://qtr.fs.al/rss-feed/en
curl https://qtranslate.fs.al/qtr/rss-feed/en
</pre>
</div>
</div>


<div id="outline-container-orgheadline14" class="outline-3">
<h3 id="orgheadline14">tweet</h3>
<div class="outline-text-3" id="text-orgheadline14">
<dl class="org-dl">
<dt>GET tweet/$lng</dt><dd>Return a random translation in a suitable form
for the twitter. If the request header 'Accept:
application/json' is set, then the output will be in JSON.
This can be useful for adding your custom hashtags, url, etc.
<dl class="org-dl">
<dt>lng</dt><dd>Language of translations.</dd>
</dl></dd>

<dt>GET qtr/tweet/[$lng]</dt><dd>Return a random string and
its translations in a suitable form for the twitter (truncated
to 100 characters).</dd>
</dl>


<p>
<b>Note:</b> This can be used in combination with <i>cli twitter
clients</i> and with <b>cron</b> to post random tweets about
translations.  See this script as an example:
<a href="https://gitlab.com/q-translate/qtr_server/blob/master/utils/twitter.sh">https://gitlab.com/q-translate/qtr_server/blob/master/utils/twitter.sh</a>
</p>

<p>
Examples:
</p>
<ul class="org-ul">
<li><a href="https://dev.qtr.fs.al/api-examples-php/misc/tweet.php">https://dev.qtr.fs.al/api-examples-php/misc/tweet.php</a></li>
<li><a href="http://info.qtr.fs.al/api-examples-js/#misc/tweet.js">http://info.qtr.fs.al/api-examples-js/#misc/tweet.js</a></li>
</ul>

<pre class="example">
curl -q -k https://qtr.fs.al/tweet/en
curl -q -k -H 'Accept: application/json' \
     https://qtr.fs.al/tweet/en | python -m json.tool

curl -q -k https://qtranslate.fs.al/qtr/tweet/en
</pre>
</div>
</div>


<div id="outline-container-orgheadline15" class="outline-3">
<h3 id="orgheadline15">autouser</h3>
<div class="outline-text-3" id="text-orgheadline15">
<dl class="org-dl">
<dt>GET auto/user/$lng/$str</dt><dd>Retrieve a JSON list of autocomplete
suggestions for users.
<dl class="org-dl">
<dt>lng</dt><dd>Language of translations.</dd>
<dt>str</dt><dd>Beginning of a user name.</dd>
</dl></dd>
</dl>

<p>
Examples:
</p>
<ul class="org-ul">
<li><a href="https://dev.qtr.fs.al/api-examples-php/misc/autouser.php">https://dev.qtr.fs.al/api-examples-php/misc/autouser.php</a></li>
<li><a href="http://info.qtr.fs.al/api-examples-js/#misc/autouser.js">http://info.qtr.fs.al/api-examples-js/#misc/autouser.js</a></li>
</ul>

<pre class="example">
curl https://qtr.fs.al/auto/user/sq/d
</pre>
</div>
</div>


<div id="outline-container-orgheadline16" class="outline-3">
<h3 id="orgheadline16">other</h3>
<div class="outline-text-3" id="text-orgheadline16">
<dl class="org-dl">
<dt>GET languages</dt><dd>Return a json list of languages installed on the
system and their details.</dd>

<dt>GET chapters</dt><dd>Return a json list of the chapters and their details.</dd>
</dl>

<p>
Examples:
</p>
<pre class="example">
curl https://qtr.fs.al/languages | python -m json.tool
curl https://qtr.fs.al/chapters | python -m json.tool | less
</pre>
</div>
</div>
</div>


<div id="outline-container-orgheadline18" class="outline-2">
<h2 id="orgheadline18">oauth2</h2>
<div class="outline-text-2" id="text-orgheadline18">
<dl class="org-dl">
<dt>POST oauth2/token</dt><dd><p>
Get an OAuth2 token.
</p>
<pre class="example">
$.ajax(base_url + '/oauth2/token', {
    type: 'POST',
    data: {
        grant_type: 'password',
        username: 'user1',
        password: 'pass1',
        scope: 'user_profile', 
    },
    headers: {
        'Authorization': 'Basic ' + btoa(client_id + ':' + client_secret'), 
    },

});
</pre></dd>

<dt>GET oauth2/tokens/&lt;access_token&gt;</dt><dd><p>
Verify the validity of an
OAuth2 token.
</p>
<pre class="example">
$.ajax(base_url + '/oauth2/tokens/' + access_token)
    .fail(function () {
        console.log('Token is not valid.');
    })
    .done(function (response) {
        console.log(response);
    });
</pre></dd>

<dt>POST oauth2/user/profile</dt><dd><p>
Get the profile of the user.
</p>
<pre class="example">
$.ajax(base_url + '/oauth2/user/profile', {
    type: 'POST',
    headers: {
        'Authorization': 'Bearer ' + access_token,
    },
    dataType: 'json',
});
</pre></dd>
</dl>

<p>
Examples:
</p>
<ul class="org-ul">
<li><a href="http://info.qtr.fs.al/api-examples-js/#oauth2/get_token.js">http://info.qtr.fs.al/api-examples-js/#oauth2/get_token.js</a></li>
<li><a href="http://info.qtr.fs.al/api-examples-js/#oauth2/verify_token.js">http://info.qtr.fs.al/api-examples-js/#oauth2/verify_token.js</a></li>
<li><a href="http://info.qtr.fs.al/api-examples-js/#oauth2/get_user_profile.js">http://info.qtr.fs.al/api-examples-js/#oauth2/get_user_profile.js</a></li>
</ul>

<p>
For more details and examples see: <a href="https://gitlab.com/dashohoxha/oauth2-js">https://gitlab.com/dashohoxha/oauth2-js</a>
</p>

<p>
For PHP examples see:
</p>
<ul class="org-ul">
<li><a href="https://qtr.fs.al/api-examples-php/config.php">https://qtr.fs.al/api-examples-php/config.php</a></li>
<li><a href="https://qtr.fs.al/api-examples-php/get_access_token.php">https://qtr.fs.al/api-examples-php/get_access_token.php</a></li>
<li><a href="https://qtr.fs.al/api-examples-php/translations/add.php">https://qtr.fs.al/api-examples-php/translations/add.php</a></li>
</ul>
</div>
</div>
</div>
<div id="postamble" class="status">
<p class="author">Author: Dashamir Hoxha</p>
<p class="date">Created: 2016-08-07 Sun 14:19</p>
<p class="validation"></p>
</div>
